@charset "UTF-8";

/* for wallpaper */
vbox{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg");*/
}

window{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg"); */
}


iframe {
    -moz-transition: height 0.25s, opacity 0.25s;
}

textbox#textbox-comment {
    -moz-transition: width 0.25s;
}

#mainwindow-tab{
}

#maintabs {
    display:inline-block;
}

tabpanels {
    padding: 2px;
}

.tabpanel{
/*    background-color: #f0f0f0;*/
}

table{
    border-collapse: collapse;
}

/* リクエスト、ストックの枠線 */
table.requestview tr, table.historyview tr {
    border-bottom: 1px solid black;
}

/* テキスト範囲選択できるクラス */
.selection {
    cursor: text ! important;
    -moz-user-focus: normal;
    -moz-user-select: text;
}

/* 動画情報の詳細部分 */
.detail {
    display:none;
}

.video-thumbnail {
    width: 65px;
    height: 50px;
    -moz-transition: width 0.25s, height 0.25s;
}
.video-thumbnail:hover {
/*
    width: 130px;
    height: 100px;
*/
}

.videotag {
    overflow: hidden;
    width: 100%;
}
.videotag:hover{
    overflow: visible;
}


/* リク・ストックビュー内の水平線<hr/> */
.requestview hr, .historyview hr {
    padding: 0;
    margin: 0;
    border-width: 1px 0px 0px 0px;
    border-style: dashed;
/*    border: 1px solid gray; */
}


/* ちょっと使いづらいかな */
/*
hbox.btn_command{
    display: none;
}
vbox:hover + hbox.btn_command, hbox.btn_command:hover {
    display: inline;
}
*/

#player-current-status button {
    margin: 0;
}

#tab-request button {
    margin: 0;
}
#tab-stock button {
    margin: 0;
}
#tab-comment button {
    margin-left: 0;
    margin-right: 0;
}


/* リク、ストックなどのコマンドボタン */
hbox.command-buttons {
    border: 1px outset gray;
}

.command-buttons .command-button {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.select-setlist menuitem{
    min-width: 3em;
}

tr {
    -moz-transition: background-color 0.25s, color 0.25s;
}

/* 奇数行 */
tr.table_oddrow{
    background-color: #ffffee;
}

/* 偶数行 */
tr.table_evenrow{
    background-color: #eeeeff;
}

/* 自貼り */
tr.table_selfreq {
    background-color: #eeffee;
    border-left: 10px solid rgb(0,200,0);
}

tr.table_selfreq div:first-child:before{
    content: "[自貼り]";
    color: red;
    font-weight: bold;
}

/* コントロールパネルのメイン・サブステート用 */
.soundonly-toggle[checked="true"]:after {
    content: "ON";
}
.soundonly-toggle:after {
    content: "OFF";
}
.video-title[value='']{
    display:none;
}
.video-title{
    display:block;
}

/* co154で最近再生されたもの */
tr.table_recently_play{
    background-color: #ffcc99;
}

table#database-table tr:hover{
/*    background-color: #888888; */
/*    color: white; */
    border: 1px solid #888;
    box-shadow: inset 1px 1px 1px 1px #ccc;
}

.db-description{
    display:none;
}


/* コメントの枠線 */
#comment-table tr{
    border-bottom: 1px solid #cccccc;
    -moz-transition: height 0.25s, opacity 0.25s;
}


tr.color1{
    background-color: #f2eef8;
}
tr.color2{
    background-color: #eef0ff;
}
tr.color3{
    background-color: #eef8ff;
}
tr.color4{
    background-color: #eeffff;
}
tr.color5{
    background-color: #eefff8;
}

/* 緑(自貼りカラー) */
tr.color6{
    background-color: #eeffee;
}
tr.color7{
    background-color: #f8ffee;
}
tr.color8{
    background-color: #ffffee;
}

tr.white{
    background-color: white;
}


.Miku {
    background-color: #7fffbf;
}
.RinLen {
    background-color: yellow;
}
.Luka {
    background-color: #ffb2d3;
}
.Other {
    background-color: #ffeeee;
}
.NG {
    background-color: #888888;
}
.undefined {
}

/* 主用の色 */
tr.table_casterselection{
    background-color: #ffeeee;
}

/* 再生済み */
tr.table_played{
    background-color: #cccccc;
}

tr.no_live_play div:first-child:before{
    content: "[生放送不可]";
    color: red;
    font-weight: bold;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbox{
/*    display: inline; */
}

toolbarbutton{
    vertical-align: text-top;
    margin-right: 1px;
}

#folder-listbox listitem:-moz-drag-over {
    border: 1px solid black;
    font-weight: bold;
}

#folder-listbox listitem.folder-smartlist:after {
    content:"*";
}
